.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background-color: #e2e7eb;
    border-bottom: 1px solid #d0d4d8;
}

.content__flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    text-align: center;
    padding: 1rem;
    z-index: 2;
}

.content__flexColumnStart{
    text-align: left;
    padding: 1rem;
    z-index: 2;
}

.content__flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.contentRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.contentColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 0.5rem;
}

.title{
    font-size: 2.5rem;
    z-index: 20;
}

.textArea{
    text-align: justify;
    line-height: 150%;
    font-size: 40px;
}

.imageBox{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.imageBox img{
    height: 500px;
    object-fit: cover;
}

.icon{
    display: block;
    font-size: 50px;
    margin: 0.5rem;
    color: black;
}

.iconLarge{
    display: block;
    font-size: 3rem;
    margin: 0.5rem;
    color: black;
}

.icon:hover{
    color: brown;
}

.imgMedium{
    height: 14rem;
    border: 2px solid black;
    display: block;
}

.footer{
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

/* ------- RWD -------- */
@media all and (min-width: 1600px) {
    html{ font-size: 24px; }
    .icon{ font-size: 50px; }
    .textArea{ font-size: 24px; }

    .imageBox img{ height: 900px; }  
    .content{ flex-direction: row; }
    .contentRow{ display: flex; }
    .contentColumn{ display: none; } 
}

@media all and (max-width: 1600px) {
    html{ font-size: 22px; }
    .icon{ font-size: 50px; }
    .textArea{ font-size: 24px; }

    .imageBox img{ height: 700px; }    
    .content{ flex-direction: row; }
    .contentRow{ display: flex; }
    .contentColumn{ display: none; } 
}
  
@media all and (max-width: 1366px) {
    html{ font-size: 20px; }
    .icon{ font-size: 46px; }
    .textArea{ font-size: 22px; }
    
    .imageBox img{ height: 700px; }    
}
  
@media all and (max-width: 1200px) {
    html { font-size: 18px; }
    .icon{ font-size: 44px; }
    .textArea{ font-size: 22px; }

    section{ width: 50%; }
    .content{ flex-direction: row; }
    .contentRow{ display: flex; }
    .contentColumn{ display: none; }
    .imageBox img{ height: 700px; }    
}
  
@media all and (max-width: 1024px) {
    html{ font-size: 16px; }
    .icon{ font-size: 40px; }
    .textArea{ font-size: 20px; }

    section{ width: 80%; }
    .content{ flex-direction: column; }
    .contentRow{ display: none; }
    .contentColumn{ display: flex; }
    .imageBox img{ height: 600px; }    
}
  
@media all and (max-width: 800px) {
    html{ font-size: 12px; }
    section{ width: 90%; }
    .icon{ font-size: 40px; }
    .textArea{ font-size: 18px; }
    .imageBox img{ height: 600px; }    
}
  
@media all and (max-width: 768px) {
    html{ font-size: 10px; }
    .icon{ font-size: 38px; }
    .textArea{ font-size: 16px; }
    .imageBox img{ height: 550px; }    
}
  
@media all and (max-width: 480px) {
    html{ font-size: 8px; }
    .icon{ font-size: 34px; }
    .textArea{ font-size: 14px; }
    .imageBox img{ height: 500px; }    
}