.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background-color: #e2e7eb;
    border-bottom: 1px solid #d0d4d8;
}

.content__flexColumn{
    text-align: center;
    padding: 20px;
    z-index: 2;
}

.content__flexColumnStart{
    text-align: left;
    padding: 20px;
    z-index: 2;
}

.content__flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 10px;
}

.title{
    z-index: 20;
}

.textArea{
    text-align: justify;
    line-height: 150%;
    font-size: 20px;
}

.imageBox{
    position: absolute;
    top: 0;
    right: 0;

    z-index: 1;
}

.imageBox img{
    height: 100vh;
    object-fit: cover;
}

.icon{
    display: block;
    font-size: 30px;
    margin: 10px;
    color: black;
}

.icon:hover{
    color: brown;
}

.imgMedium{
    height: 350px;
    border: 2px solid black;
}